.more {
  margin-bottom: 50px;
  height: 100%;
}
.more_title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 700;
  padding: 18px;
}
.league:hover {
  background-color: #d6d6d6;
}
.league {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 15px 0px;
}
.league_name {
  margin-left: 20px;
  font-weight: 500;
}
.league_icon {
  margin-left: 18px;
}
.league_icon img {
  width: 40px;
  height: 50px;
}
