.TabEpl{
  margin-bottom: 80px;
  margin-top: 12px;
}
.TabEpl_games{
border-bottom: 1px dotted rgba(0,0,0,0.3);
margin: 0px 5px;
}
.TabEpl_name {
  margin: 10px;
  font-weight: 300;
  padding-bottom: 5px;
  font-size: 15px;
 
}
.TabEpl_game{
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin:10px;
}