.mainimage {
  height:95%;
  width:100%;
  background-size: cover;
  background-position: center;
}
.subject {
  display: flex;
  margin-top: 10px;
}

.HomeNews:hover{
  background-color: #d6d6d6;
}
.subject_title {
  display: flex;
  margin-left: 10px;
  font-size: 15px;
  font-weight: 800
}
.article {
  margin-bottom: 20px;
}
.SportNews{
  margin-top: 5px;
}
.SportNews_top {
 display: flex;
 border-bottom: 1px solid rgb(212, 212, 212);
 margin-top: 5px;
}
.SportNews_icon {
  margin-right: 9px;
}
.SportNews_title {
  font-weight: 800;
}
.SportTopNews{
  display: flex;
  margin-top: 5px; 
  padding: 13px 5px;
  border-radius: 5px;
}
.SportTopNews:hover{
  background-color: #d6d6d6;;
}
.SportTopNews_icon{
  margin-right: 15px;
}