.TableFilter {
  color: black;
  padding: 0 1rem;
  margin-top:90px;
  margin-bottom: 20px;
  font-size: 25px;
}

.TableFilter_text {
  display: flex;

  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
  font-size: 18px;
}

.TableFilter_text label {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.TableFilter_text select {
  font: inherit;
  padding: 0.5rem 3rem;
  font-weight: bold;
  border-radius: 6px;
}