.news {
  width: 640px;
  height: 100%;
}
.news_title {
  display: flex;
  margin-top: 120px;
  font-size: 35px;
  font-weight: 800;
}

.profile {
  margin: 50px 10px;
  width: 100%;
}
.profile img {
  width: 50px;
  height: 50px;
  border-radius: 35px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.profile,
.reporter {
  display: flex;
  align-items: center;
}
.reporter_name {
  display: flex;
  font-weight: 600;
  margin-left: 15px;
  width: 100px;
  font-size: 14px;
  word-break: keep-all;
}
.time {
  display: flex;
  width: 300px;
  font-size: 15px;
  margin-left: 60%;
  justify-content: flex-end;
}
