.Navbar {
  display: flex;
  background-color: white;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.Navbar_Button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}
.Navbar_Button:hover,
focus {
  border-radius: 15px;
  background-color: #b2b2b2;
}
