.Navbar {
  position: fixed;
  bottom: 0;
  margin: 0rem auto;
  width: 100%;
  max-width: 40em;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.Navbar_Button {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 10px 20px;
}
.Navbar_Button:hover,
focus {
  border-radius: 15px;
  background-color: #b2b2b2;
}
